#signup-email {
  color: green;
/*  font-size: 24px;*/
}
/*label[for="signup-email"] {
  color: red;
}*/
.signup-labels {
  color: blue;
}
label {
  text-align: right;
  width: 100px;
  display: inline-block;
}
div {
  margin-bottom: 15px;
  margin-top: 50px;
}